.grid {
  grid-gap: 10px;

  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));

  .deck-card {
    cursor: pointer;
    z-index: 10;
    color: white;

    .content {
      background: linear-gradient(to right, #34d399, #3b82f6) !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .card {
    cursor: pointer;

    .content {
      transition: 300ms;
      border-radius: 0.25rem;
      height: 200px;
      background: white;
      padding: 20px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);

      h3 {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.turn-left {
  z-index: 5;

  .content {
    transform: rotate(-4deg);
  }
}

.turn-right {
  .content {
    transform: rotate(-8deg);
  }
}

// .animate-in-process {
//   box-shadow: none;
// }

// .transparent {
//   opacity: 0;
// }
