.grid {
  -ms-grid-columns: (minmax(18rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.grid .deck-card {
  cursor: pointer;
  z-index: 10;
  color: white;
}

.grid .deck-card .content {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 0.25rem;
  height: 250px;
  padding: 20px;
}

.grid .deck-card .content .title {
  font-size: 1rem;
}

.grid .deck-card .content .text {
  font-size: 12px;
  opacity: 0.7;
  height: 3rem;
}

.grid .card {
  cursor: pointer;
  position: relative;
}

.grid .card .wrapper {
  width: 100%;
  height: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.grid .card .wrapper .flip-card-content {
  height: 250px;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.grid .card .wrapper .flip-card-content.flipped-left {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.grid .card .wrapper .flip-card-content.flipped-right {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.grid .card .wrapper .flip-card-content .flip-card-back {
  border-radius: 0.25rem;
}

.grid .card .wrapper .flip-card-content .flip-card-back.fire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid .card .wrapper .flip-card-content .flip-card-back.fire .instruction {
  padding: 20px 20px 8px 20px;
}

.grid .card .wrapper .flip-card-content .flip-card-back.fire .input-wrapper .textarea-wrapper {
  padding: 0 4px;
  width: 100%;
}

.grid .card .wrapper .flip-card-content .flip-card-back.fire .input-wrapper .textarea-wrapper .comment {
  width: 100%;
  height: 8rem;
  resize: none;
  border-radius: 0.25rem;
  border: solid 1px #e5e7eb;
  padding: 4px;
}

.grid .card .wrapper .flip-card-content .flip-card-back.fire .input-wrapper .back-card-action {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

.grid .card .wrapper .flip-card-content .flip-card-back.fire .input-wrapper .back-card-action .button {
  height: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 2px;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.grid .card .wrapper .flip-card-content .flip-card-back.fire .input-wrapper .back-card-action .button.save-comment {
  background: #f87171;
  color: white;
}

.grid .card .wrapper .flip-card-content .flip-card-back.fire .input-wrapper .back-card-action .button.save-comment:hover {
  background: #e96161;
}

.grid .card .wrapper .flip-card-content .flip-card-back.fire .input-wrapper .back-card-action .button.abort {
  background: #f3f4f6;
}

.grid .card .wrapper .flip-card-content .flip-card-back.fire .input-wrapper .back-card-action .button.abort:hover {
  background: #e5e7eb;
}

.grid .card .wrapper .flip-card-content .flip-card-back.shield {
  background: #a7f3d0;
}

.grid .card .wrapper .flip-card-content .flip-card-back.shield .back-button {
  margin: 8px 0 0 8px;
}

.grid .card .wrapper .flip-card-content .flip-card-back.shield .icon-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid .card .wrapper .flip-card-content .flip-card-back.shield .icon-wrapper .icon {
  width: 100px;
}

.grid .card .wrapper .flip-card-content .title {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px 20px 8px 20px;
  font-size: 1rem;
  font-weight: 500;
}

.grid .card .wrapper .flip-card-content .body {
  color: #6b7280;
  font-weight: 300;
  font-size: 1rem;
  padding: 0 20px;
}

.grid .card .wrapper .flip-card-content .body li:before {
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-bottom: 3px;
  background: #6b7280;
  margin-right: 8px;
}

.grid .card .wrapper .flip-card-content .card-action {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

.grid .card .wrapper .flip-card-content .card-action .button {
  height: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  background: #f3f4f6;
  border-radius: 0.25rem;
  margin: 2px;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.grid .card .wrapper .flip-card-content .card-action .button.shield .shield-icon {
  background-color: transparent;
  background-image: url("./icons/shield-pressed.svg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.grid .card .wrapper .flip-card-content .card-action .button.fire .fire-icon {
  background-color: transparent;
  background-image: url("./icons/fire-pressed.svg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.grid .card .wrapper .flip-card-content .card-action .button:hover {
  background: #e5e7eb;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
/*# sourceMappingURL=style.css.map */