.grid {
  // grid-gap: 10px;

  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

  .deck-card {
    cursor: pointer;
    z-index: 10;
    color: white;

    .content {
      font-weight: 500;
      // background: linear-gradient(to right, #34d399, #3b82f6) !important;
      display: flex;
      justify-content: center;
      align-items: center;

      transition: 300ms;
      border-radius: 0.25rem;
      height: 200px;
      padding: 20px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
    }
  }

  .card {
    cursor: pointer;
    position: relative;

    .content {
      transition: 300ms;
      border-radius: 0.25rem;
      height: 200px;
      background: white;
      // padding: 20px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);

      .title {
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 20px 20px 8px 20px;
        font-size: 1rem;
        font-weight: 500;
      }

      .body {
        color: #6b7280;
        font-weight: 300;
        font-size: 1rem;
        padding: 0 20px;

        li:before {
          display: inline-block;
          content: "";
          width: 5px;
          height: 5px;
          border-radius: 50%;
          margin-bottom: 3px;
          background: #6b7280;
          margin-right: 8px;
        }
      }

      .card-action {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 2px;

        .button {
          height: 3rem;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.5rem;
          background: #f3f4f6;
          border-radius: 0.25rem;
          margin: 2px;

          .fire-icon {
            background-color: transparent;
            background-image: url("./icons/flame.svg");
            background-size: 100% 100%;
            width: 100%;
            height: 100%;
          }

          .shield-icon {
            background-color: transparent;
            background-image: url("./icons/shield.svg");
            background-size: 100% 100%;
            width: 100%;
            height: 100%;
          }

          &:hover {
            background: #e5e7eb;

            .fire-icon {
              // background-image: url("/icons/flame-hover.svg");
              transform: scale(1);
            }

            .shield-icon {
              // background-image: url("/icons/shield-hover.svg");
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}

.turn-left {
  z-index: 5;

  .content {
    transform: rotate(-4deg);
  }
}

.turn-right {
  .content {
    transform: rotate(-8deg);
  }
}

// .animate-in-process {
//   box-shadow: none;
// }

// .transparent {
//   opacity: 0;
// }
