.opening-illustration {
  width: 12rem;
}

.grid {
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.grid .deck-card {
  cursor: pointer;
  z-index: 10;
  color: white;
}

.grid .deck-card.starting {
  z-index: 100;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.grid .deck-card.starting .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid .deck-card.starting .content .title {
  font-size: 1.64rem;
}

.grid .deck-card .content {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 0.25rem;
  height: 200px;
  padding: 20px;
}

.grid .deck-card .content .title {
  font-size: 1rem;
}

.grid .deck-card .content .text {
  font-size: 12px;
  opacity: 0.7;
  height: 3rem;
}

.grid .card {
  cursor: pointer;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.grid .card.stacked .flip-card-front,
.grid .card.stacked .flip-card-back {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.grid .card.stacked .flip-card-front {
  border-color: transparent !important;
}

.grid .card .wrapper {
  width: 100%;
  height: 100%;
}

.grid .card .wrapper .flip-card-wrapper {
  height: 200px;
  width: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 0.25rem;
}

.grid .card .wrapper .flip-card-wrapper.flipped-left {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.grid .card .wrapper .flip-card-wrapper.flipped-right {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.grid .card .wrapper .flip-card-wrapper .flip-card-back {
  border-radius: 0.25rem;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-back.fire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-back.fire .textarea-wrapper {
  padding: 4px 4px 0 4px;
  width: 100%;
  overflow: hidden;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-back.fire .textarea-wrapper .comment {
  width: 100%;
  height: 100%;
  overflow: hidden;
  resize: none;
  border-radius: 0.25rem;
  border: solid 1px #e5e7eb;
  padding: 8px;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-back.fire .textarea-wrapper .comment:focus {
  outline: 0;
  border: solid 1px #e96161;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-back.fire .back-card-action {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-back.fire .back-card-action .button {
  height: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 2px;
  -webkit-transition: 100ms;
  transition: 100ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.grid .card .wrapper .flip-card-wrapper .flip-card-back.fire .back-card-action .button.save-comment {
  color: #e96161;
  font-weight: 500;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-back.fire .back-card-action .button.save-comment:hover {
  background: #f3f4f6;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-back.fire .back-card-action .button.abort:hover {
  background: #f3f4f6;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-back.shield {
  background: #a7f3d0;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-back.shield .back-button {
  position: absolute;
  margin: 8px 0 0 8px;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-back.shield .back-button .icon {
  width: 26px;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-back.shield .icon-wrapper {
  margin-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-back.shield .icon-wrapper .icon {
  width: 100px;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-back.shield .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-back.shield .text-wrapper .text {
  max-width: 12rem;
  text-align: center;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-front.red {
  border-top: solid 3px #f87171;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-front.green {
  border-top: solid 3px #34d399;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-front.blue {
  border-top: solid 3px #60a5fa;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-front .card-text .title {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px 20px 8px 20px;
  font-size: 1rem;
  font-weight: 500;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-front .card-text .body {
  color: #6b7280;
  font-weight: 300;
  font-size: 1rem;
  padding: 0 20px;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-front .card-text .body li:before {
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-bottom: 3px;
  background: #6b7280;
  margin-right: 8px;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-front .card-action {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-front .card-action .button {
  height: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  background: #f3f4f6;
  border-radius: 0.25rem;
  margin: 2px;
  -webkit-transition: 100ms;
  transition: 100ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.grid .card .wrapper .flip-card-wrapper .flip-card-front .card-action .button.shield .shield-icon {
  background-color: transparent;
  background-image: url("./icons/shield-pressed.svg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-front .card-action .button.fire .fire-icon {
  background-color: transparent;
  background-image: url("./icons/fire-pressed.svg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.grid .card .wrapper .flip-card-wrapper .flip-card-front .card-action .button:hover {
  background: #e5e7eb;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 0.25rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.wrapper-for-stacked-turn {
  -webkit-transition: 400ms;
  transition: 400ms;
  height: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.turn-left .wrapper-for-stacked-turn {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.turn-left .wrapper-for-stacked-turn .flip-card-wrapper .flip-card-front,
.turn-left .wrapper-for-stacked-turn .flip-card-wrapper .flip-card-back {
  -webkit-box-shadow: 0 1px 4px 0 rgba(19, 14, 14, 0.25);
          box-shadow: 0 1px 4px 0 rgba(19, 14, 14, 0.25);
}

.turn-right .wrapper-for-stacked-turn {
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.turn-right .wrapper-for-stacked-turn .flip-card-wrapper .flip-card-front,
.turn-right .wrapper-for-stacked-turn .flip-card-wrapper .flip-card-back {
  -webkit-box-shadow: 0px 1px 4px 0 rgba(19, 14, 14, 0.25);
          box-shadow: 0px 1px 4px 0 rgba(19, 14, 14, 0.25);
}

.higher-z-index {
  z-index: 5;
}

.accordion .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion .head .icon {
  cursor: pointer;
  margin-left: 1rem;
  width: 2rem;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.accordion .head .icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.accordion .panel {
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=style.css.map */